<h1>Edit movie</h1>

<%= simple_form_for(@movie, as: :movie, method: :patch, url: admins_movie_path(@movie), :html => { :multipart => true }) do |f| %>
  <%= f.input :title, label: 'Movie title' %>
  <%= f.input :text, label: 'Movie text' %>
  <%= f.select :category_id, options_for_select(@categories) %>
  <%= f.file_field :preview, label: 'Movie preview' %>
  <%= f.button :submit, 'Edit', class: 'btn btn-primary m-3' %>
<% end %>
